<!DOCTYPE html>
<html>
<head>
	<title>API Viewer</title>
	<link rel="stylesheet" href="json-viewer.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	<script src="json-viewer.js"></script>
</head>
<body>
	<input type="" id="api-url" placeholder="Enter the api URL here" style="display: block; width: 100%;" value="/api/">
	<div id="json-container"></div>
	<script>
		var getResult = function() {
			url = $('#api-url').val();
			axios.get(url).then(function(response) {
				$('#json-container').jsonview(response.data);
			});
		};
		$('#api-url').blur(getResult);
	</script>
</body>
</html>

