<!DOCTYPE html>
<html>
<head>
	<title>API Viewer</title>
	<link rel="stylesheet" href="../resources/json-viewer.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	<script src="../resources/json-viewer.js"></script>
</head>
<body>
	<div id="json-container"></div>
	<script>
		var data = {{data|safe}};
		$('#json-container').jsonview(data);
	</script>
</body>
</html>

