{% raw %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Note: Order of loading is important! -->
    <!-- favicon       --><link rel="icon" type="image/png" sizes="96x96" href="/favicon.png">
    <!-- css bootstrap --><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- css datetime  --><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <!-- css fa-icons  --><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <!-- css leaflet   --><link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css">
    <!-- css leaflet routing --><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.9/leaflet-routing-machine.css">
    <!-- css SELF      --><link rel="stylesheet" href="resources/planner.css">
    <!-- js  jquery    --><script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- js  popper    --><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- js  moment    --><script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <!-- js  boostrap  --><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- js  datetime  --><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <!-- js  axios     --><script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <!-- js  vue       --><script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <!-- js  typeahead --><script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <!-- js  fuse      --><script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.1/fuse.min.js"></script>
    <!-- js  leaflet   --><script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
    <!-- js  leaflet routing --><script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.9/leaflet-routing-machine.min.js"></script>
    <title>City Itinerary Planner</title>
</head>
<body>
    <div class="background-image"></div>
    <div id="container" class="content">

        <div class="top-box">
            <div class="input-box">
                <div class="search-box">
                    <div class="form-group">
                        <div class='input-group'>
                            <div class="input-group-prepend input-group-addon">
                                <span class="input-group-text"><span class="fas fa-search"></span></span>
                            </div>
                            <input id="city-searchbar" type="text" class="city-searchbar form-control"  placeholder="What's your destination?">
                        </div>
                    </div>
                </div>
                <div class="date-box">
                    <div class="datepicker-box">
                        <div class="form-group">
                            <div class='input-group date'>
                                <input type="text" class="form-control"  id='date_timepicker_start' value=""/>
                                <div class="input-group-append input-group-addon">
                                    <span class="input-group-text"><span class="fas fa-calendar-alt"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="datepicker-box">
                        <div class="form-group">
                            <div class='input-group date'>
                                <input type="text" class="form-control"  id='date_timepicker_end' value=""/>
                                <div class="input-group-append input-group-addon">
                                    <span class="input-group-text"><span class="fas fa-calendar-alt"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary submit-btn" id="city-searchbar-submit">Go!</button>
                </div>
            </div>
        </div>
        <div class="content-box">
            <div id="plan-box" class="plan-box">
                <div class="itinerary-box">
                    <div class="list-box-header">
                        <div class="list-box-title">Suggested Plan</div>
                    </div>
                    <div class="overflow-container">
                        <ul>
                            <li v-for="(visit, index) in itinerary">
                                <div class="button-container"
                                     v-if="visit.point.pointName !== '__newday__'">
                                    <div v-if="!(isLiked(visit.point))">
                                        <span class="fa-hover-hidden far fa-heart"></span>
                                        <span class="fa-hover-show fas fa-heart" v-on:click="likePoint(visit)"></span>
                                        <hr>
                                    </div>
                                    <div v-if="!(isLiked(visit.point))">
                                        <span class="fa-hover-hidden far fa-thumbs-down"></span>
                                        <span class="fa-hover-show fas fa-thumbs-down" v-on:click="dislikePoint(visit.point)"></span>
                                    </div>
                                 </div>
                                <div class="point-listing"
                                     v-if="visit.point.pointName !== '__newday__'">
                                    <div class="point-image"><img :src="utils.getEncodedPointImageURL(visit.point, 180, 100)"></div>
                                    <div class="point-name">{{ visit.point.pointName }}</div>
                                    <div class="point-rating">
                                        <span v-for="cls in getRatingStars(visit.point)"
                                              :class="cls">
                                        </span>
                                    </div>
                                    <div class="point-time">
                                        <span class="point-time-title time-from">From:</span>
                                        {{ utils.formatTime(visit.enterTime) }}
                                        <span class="point-time-title">To:</span>
                                        {{ utils.formatTime(visit.exitTime) }}
                                    </div>
                                </div>
                                <div class="day-listing"
                                     v-else>
                                    <div class="day-listing-number">Day {{visit.dayNum}}</div>
                                    <div class="day-listing-date">{{visit.date}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="likes-box">
                    <div class="list-box-header">
                        <div class="list-box-title">I must visit</div>
                        <div class="list-box-search">
                            <div class='input-group'>
                                <div class="input-group-prepend input-group-addon">
                                    <span class="input-group-text"><span class="fas fa-search"></span></span>
                                </div>
                                <input id="point-searchbar" type="text" class="point-searchbar form-control"  placeholder="Look what's around">
                            </div>
                        </div>
                    </div>
                    <div class="overflow-container">
                        <ul>
                            <li v-for="(visit, dayNum) in mustVisit">
                                <div class="button-container"
                                     v-if="visit.point.pointName !== '__newday__'">
                                    <span class="fa-hover-hidden fas fa-heart"></span>
                                    <span class="fa-hover-show fas fa-heartbeat" v-on:click="removeLikePoint(visit)"></span>
                                 </div>
                                <div class="point-listing"
                                     v-if="visit.point.pointName !== '__newday__'">
                                    <div class="point-image"><img :src="utils.getEncodedPointImageURL(visit.point, 180, 100)"></div>
                                    <div class="point-name">{{ visit.point.pointName }}</div>
                                    <div class="point-rating">
                                        <span v-for="cls in getRatingStars(visit.point)"
                                              :class="cls">
                                        </span>
                                    </div>
                                    <div class="point-time">
                                        <span class="point-time-title time-from">From:</span>
                                        {{ utils.formatTime(visit.enterTime) }}
                                        <span class="point-time-title">To:</span>
                                        {{ utils.formatTime(visit.exitTime) }}
                                    </div>
                                </div>
                                <div class="day-listing"
                                     v-else>
                                    <div class="day-listing-number">Day {{visit.dayNum}}</div>
                                    <div class="day-listing-date">{{visit.date}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dislikes-box">
                    <div class="list-box-header">
                        <div class="list-box-title">Don't show</div>
                    </div>
                    <div class="overflow-container">
                        <ul>
                            <li v-for="(dislikedPointName, index) in constraints.dislikes">
                                <div class="button-container">
                                    <span class="fa-hover-hidden fas fa-thumbs-down"></span>
                                    <span class="fa-hover-show far fa-thumbs-down" v-on:click="removeDislikePoint(dislikedPointName)"></span>
                                 </div>
                                <div class="bad-point-listing">
                                    <div class="point-image"><img :src="utils.getEncodedPointImageURL(getPointFromName(dislikedPointName), 144, 80)"></div>
                                    <div class="point-name">{{ dislikedPointName }}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="map-box">
                <div id="mapid"></div>
            </div>
        </div>
    </div>
    <!-- js injected --> <script type="text/javascript"> {% endraw %} var initialConstraints = {{ initialConstraints|safe }}; {% raw %} </script>
    <!-- js UTILS    --><script src="resources/utils.js"></script>
    <!-- js SELF     --><script src="resources/planner.js"></script>
</body>
</html>
{% endraw %}