{% raw %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Note: Order of loading is important! -->
    <!-- favicon             --><link rel="icon" type="image/png" sizes="96x96" href="/favicon.png">
    <!-- css bootstrap       --><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- css datetime        --><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <!-- css fa-icons        --><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <!-- css jquery-toggles  --><link rel="stylesheet" href="resources/jquery-toggles.css">

    <!-- css SELF            --><link rel="stylesheet" href="resources/planner.css">
    <!-- js  jquery          --><script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- js  popper          --><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- js  moment          --><script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <!-- js  boostrap        --><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- js  datetime        --><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <!-- js  axios           --><script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <!-- js  vue             --><script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <!-- js  typeahead       --><script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <!-- js  fuse            --><script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.1/fuse.min.js"></script>
    <!-- js  jquery-toggles  --><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toggles/2.0.4/toggles.min.js"></script>
    <title>City Itinerary Planner</title>
</head>
<body>
    <div class="background-image"></div>

    <div id="edit-modal" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="edit-modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{visit.point.pointName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="edit-time-information">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Timings</th>
                                    <th scope="col">Sun</th> <th scope="col">Mon</th> <th scope="col">Tue</th> <th scope="col">Wed</th> <th scope="col">Thu</th> <th scope="col">Fri</th> <th scope="col">Sat</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Open</th>
                                    <td v-for="val in visit.point.openingHour.split(',')">
                                        {{val==="$"?"closed":utils.roundUpTime(val)}}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Close</th>
                                    <td v-for="val in visit.point.closingHour.split(',')">
                                        {{val==="$"?"closed":utils.roundUpTime(val)}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <span class="edit-time-recommended-title">Recommended Time:</span>
                            <span class="edit-time-recommended-value">{{visit.point.recommendedNumHours}}</span>
                            <span class="edit-time-recommended-title">hours</span>
                        </div>
                    </div>
                    <hr>
                    <div class="form edit-time-form">
                        <div class="form-row">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Visit on day</span>
                                    </div>
                                    <input id= "edit-time-dayNum" type="text" class="form-control" :value="visit.dayNum">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Enter Time</span>
                                    </div>
                                    <input id= "edit-time-enterTime" type="text" class="form-control" :value="visit.enterTime">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Exit Time</span>
                                    </div>
                                    <input id= "edit-time-exitTime" type="text" class="form-control" :value="visit.exitTime">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span id="response-status"></span>
                    <button type="button" class="btn btn-primary" v-on:click="validateTime(visit)">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="container" class="content">
        <div class="top-box">
            <div class="input-box">
                <div class="search-box">
                    <div class="form-group">
                        <div class='input-group'>
                            <div class="input-group-prepend">
                                <span class="input-group-text">What's your destination?</span>
                            </div>
                            <input id="city-searchbar" type="text" class="city-searchbar form-control">
                            <div class="input-group-append">
                                <span class="input-group-text"><span class="fas fa-search"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="date-box">
                    <div class="datepicker-box">
                        <div class="form-group">
                            <div class='input-group date'>
                                <input type="text" class="form-control"  id='date_timepicker_start' value=""/>
                                <div class="input-group-append input-group-addon">
                                    <span class="input-group-text"><span class="fas fa-calendar-alt"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="datepicker-box">
                        <div class="form-group">
                            <div class='input-group date'>
                                <input type="text" class="form-control"  id='date_timepicker_end' value=""/>
                                <div class="input-group-append input-group-addon">
                                    <span class="input-group-text"><span class="fas fa-calendar-alt"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary submit-btn" id="city-searchbar-submit">Go!</button>
                </div>
            </div>
        </div>
        <div class="content-box">
            <div id="plan-box" class="plan-box">
                <div class="itinerary-box">
                    <div class="list-box-header">
                        <div class="list-box-title">Suggested Plan</div>
                        <div class="options-container" v-pre>
                            <div class="toggle toggle-light" id="algorithm"></div>
                            <div class="toggle toggle-light" id="p-factor"></div>
                        </div>
                    </div>
                    <div class="overflow-container">
                        <ul>
                            <li v-for="(visit, index) in itinerary">
                                <div class="button-container"
                                     v-if="visit.point.pointName !== '__newday__'">
                                    <div v-if="!(isLiked(visit.point))">
                                        <span class="fa-hover-hidden far fa-heart"></span>
                                        <span class="fa-hover-show fas fa-heart" v-on:click="likePoint(visit)"></span>
                                        <hr>
                                    </div>
                                    <div v-if="!(isLiked(visit.point))">
                                        <span class="fa-hover-hidden far fa-thumbs-down"></span>
                                        <span class="fa-hover-show fas fa-thumbs-down" v-on:click="dislikePoint(visit.point)"></span>
                                    </div>
                                 </div>
                                <div class="point-listing"
                                     v-if="visit.point.pointName !== '__newday__'"
                                     v-on:click="openPopup(visit.point.pointName)">
                                    <div class="point-image"><img :src="utils.getEncodedPointImageURL(visit.point, 180, 100)"></div>
                                    <div class="point-name">{{ visit.point.pointName }}</div>
                                    <div class="point-rating">
                                        <span v-for="cls in getRatingStars(visit.point)"
                                              :class="cls">
                                        </span>
                                    </div>
                                    <div class="point-time">
                                        <span class="point-time-title time-from">From:</span>
                                        {{ utils.formatTime(visit.enterTime) }}
                                        <span class="point-time-title">To:</span>
                                        {{ utils.formatTime(visit.exitTime) }}
                                    </div>
                                </div>
                                <div class="day-listing"
                                     v-else>
                                    <div class="day-listing-number">Day {{visit.dayNum}}</div>
                                    <div class="day-listing-date">{{visit.date}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="likes-box">
                    <div class="list-box-header">
                        <div class="list-box-title">I must visit</div>
                        <div class="list-box-search">
                            <div class='input-group'>
                                <div class="input-group-prepend">
                                    <span class="input-group-text point-search-prompt">What's around?</span>
                                </div>
                                <input id="point-searchbar" type="text" class="point-searchbar form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text"><span class="fas fa-search"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="overflow-container">
                        <ul>
                            <li v-for="(visit, dayNum) in mustVisit">
                                <div class="button-container"
                                     v-if="visit.point.pointName !== '__newday__'">
                                    <span class="fa-hover-hidden fas fa-heart"></span>
                                    <span class="fa-hover-show fas fa-heartbeat" v-on:click="removeLikePoint(visit)"></span>
                                 </div>
                                <div class="point-listing"
                                     v-if="visit.point.pointName !== '__newday__'"
                                     v-on:click="openPopup(visit.point.pointName)">
                                    <div class="point-image"><img :src="utils.getEncodedPointImageURL(visit.point, 180, 100)"></div>
                                    <div class="point-name">{{ visit.point.pointName }}</div>
                                    <div class="point-rating">
                                        <span v-for="cls in getRatingStars(visit.point)"
                                              :class="cls">
                                        </span>
                                    </div>
                                    <div class="point-time editable-point-time" v-on:click="openEditTimeModal(visit)">
                                        <span class="fa-hover-show fas fa-edit edit-button"></span>
                                        <span class="fa-hover-hidden far fa-edit edit-button"></span>
                                        <span class="point-time-title time-from">From:</span>
                                        {{ utils.formatTime(visit.enterTime) }}
                                        <span class="point-time-title">To:</span>
                                        {{ utils.formatTime(visit.exitTime) }}
                                    </div>
                                </div>
                                <div class="day-listing"
                                     v-else>
                                    <div class="day-listing-number">Day {{visit.dayNum}}</div>
                                    <div class="day-listing-date">{{visit.date}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dislikes-box">
                    <div class="list-box-header">
                        <div class="list-box-title">Don't show</div>
                    </div>
                    <div class="overflow-container">
                        <ul>
                            <li v-for="(dislikedPointName, index) in constraints.dislikes">
                                <div class="button-container">
                                    <span class="fa-hover-hidden fas fa-thumbs-down"></span>
                                    <span class="fa-hover-show far fa-thumbs-down" v-on:click="removeDislikePoint(dislikedPointName)"></span>
                                 </div>
                                <div class="bad-point-listing">
                                    <div class="point-image"><img :src="utils.getEncodedPointImageURL(getPointFromName(dislikedPointName), 144, 80)"></div>
                                    <div class="point-name">{{ dislikedPointName }}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="map-box">
                <div id="mapid"></div>
                <div id="map-status">Redraw pending ..</div>
            </div>
        </div>
    </div>
    <!-- js Google Maps --><script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBenGZCE8q9bT2hBGvMX_2srp9zVnZxETA&callback=resetMap"></script>
    <!-- js injected    --> <script type="text/javascript"> {% endraw %} var initialConstraints = {{ initialConstraints|safe }}; {% raw %} </script>
    <!-- js UTILS       --><script src="resources/utils.js"></script>
    <!-- js SELF        --><script src="resources/planner.js"></script>
</body>
</html>
{% endraw %}