<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Note: Order of loading is important! -->
    <!-- css bootstrap --><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- css datetime  --><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <!-- css SELF      --><link rel="stylesheet" type="text/css" href="resources/index.css">

    <!-- js  jquery    --><script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- js  popper    --><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- js  moment    --><script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <!-- js  boostrap  --><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- js  datetime  --><script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <!-- js  axios     --><script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <!-- js  vue       --><script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <!-- js  typeahead --><script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <!-- js  fuse      --><script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.1/fuse.min.js"></script>
    <title>City Itinerary Planner</title>
</head>
<body>
    <div class="background-image"></div>
    <div id="container" class="content">

        <div class="top-box">
            <div class="input-box">
                <div class="search-box">
                    <input id="city-searchbar" type="text" class="city-searchbar"  placeholder="What's your destination?">
                </div>
                <div class="date-box">  
                    <div class="datepicker-box">
                        <div class="form-group">
                            <div class="row">
                                <div >
                                    <div id="datetimepicker1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="datepicker-box">
                        <div class="form-group">
                            <div class="row">
                                <div >
                                    <div id="datetimepicker2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Journey to <span v-if="selectedCity"> {{selectedCity.fullName}}!</span><span v-else>wonderland?</span></button>
            </div>
        </div>


        <div class="popular-plans-box">
            <div class="plan-card"
                 v-for="plan in recentPlans">
                <img class="city-image" :src="getCityImage(plan)"/>
                <span class="city-prompt">
                    {{getRandomVisitText()}}
                    <div class="city-name">{{getCityName(plan)}}</div>
                    in
                    <div class="plan-length">{{getDurationText(plan.duration)}}</div>
                </span>
            </div>
        </div>

    </div>    
    <!-- js SELF --><script src="resources/index.js"></script>
</body>
</html>