.tt-menu {
  width: 100%;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

/*#####################################*/


body {
    font-size: 0.8em;
}

.background-image {
    background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(8px);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
}

.content {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 2;
}

#container {
    display: grid;
    grid-template-rows: auto 1fr;
}

.top-box {
    background: RGBA(255, 255, 255, 0.45);
    border: 1px solid RGBA(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 1em;
    margin: auto;
    width: 90%;
    margin-top: 1em;
}

    .input-box {
        display: grid;
        grid-template-rows: auto auto auto;
        text-align: center;
        width: 60%;
        margin: auto;
        margin-top: 1em;
    }

        .search-box {
        }
            .twitter-typeahead {
                width: 100%;
                font-size: 1.5em;
                font-weight: bold;
            }
                .city-searchbar,
                .tt-input,
                .tt-hint {
                    width: 100%;
                    font-size: 1.5em;
                    font-weight: bold;
                    background: white;
                    border: 0;
                    text-align: center;
                    padding: 5px 1em;
                }

                .tt-hint {
                    color: #aaa;
                }

            .search-result {
                background: white;
                text-align: left;
            }
                .search-result-cityimage {
                    border: 1px solid black;
                    display: inline-block;
                }
                .search-result-cityname {
                    font-size: 1.7em;
                    font-weight: bold;
                    display: inline-block;
                    margin-left: 1em;
                    color: #333;
                }
                .search-result-countryname {
                    font-size: 1em;
                    font-weight: bold;
                    display: inline-block;
                    margin-left: 1em;
                    color: #aaa;
                }


        .date-box {
            width: 95%;
            margin: auto;
            margin-top: 2em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10%;
            font-size: 1em;
        }
            .datepicker-box {
                /*overflow: hidden;*/
            }


.popular-plans-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    width: 70%;
    margin: auto;
    margin-top: 10em;
}

    .plan-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        margin: auto;
    }

        .city-image {
            border-radius: 0.5em;
            border: 1px solid black;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .city-prompt {
            background: #ddd;
            border: 1px solid #bbb;
            border-radius: 0.5em;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding: 1em;
            font-size: 120%;
        }

            .city-name {
                font-size: 150%;
                font-weight: bold;
            }

            .plan-length {
                font-size: 120%;
            }
